@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.border{
    border: 1px;
}

.square {
    padding-bottom: 15%;
}

.logsView {
    font-family: 'Courier New', monospace;
    font-size: 0.8em;
    color: crimson;
    border: 1px solid #eee;
    display: block;
    overflow-y: scroll;
    max-height: 92px;
}

.background-west {
    background: url('/images/bot-west.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.background-east {
    background: url('/images/bot-east.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.background-north {
    background: url('/images/bot-north.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.background-south {
    background: url('/images/bot-south.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}